html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing, #about .skills .skills__card-container #git, #about #about-description .mosaic, .nav .nav__list, .nav #logoAndName, .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .skills, #about, .skills__card, .section .inner-container ul, .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about #about-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section {
  padding-top: 25vh;
  padding-bottom: 25vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.section .inner-container {
  width: 55vw;
  padding-top: 3vh;
}
.section .inner-container ul {
  width: 45vw;
  padding-top: 3vh;
  padding-left: 5vw;
}

#about #about-description .mosaic .column-1 #circumference-outer, #about #about-description .mosaic .column-1 #circle-one {
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
}

#about #about-description .mosaic .column-1 #triangle-two, #about #about-description .mosaic .column-1 #triangle-one {
  width: 0;
  height: 0;
}

.light__theme {
  color: #023047;
  background-color: #d6e9e6;
}
.light__theme a {
  color: #023047;
}
.light__theme a:hover {
  color: #008584;
}

/*.dark__theme {
}
*/
/*font-family: 'Oswald', sans-serif;
font-family: 'Quattrocento', serif;*/
* {
  font-family: "Quattrocento", serif;
}

h1 {
  font-size: 7vh;
  font-family: "Oswald", sans-serif;
}

p,
span {
  font-size: 2.1vh;
}

.text__title-medium {
  /* "word class is only for responsive*/
  height: 10vh;
  line-height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
.text__title-medium .letter,
.text__title-medium .word {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 7vh;
  font-family: "Oswald", sans-serif;
  padding: 0.2vh;
  text-align: end;
}
.text__title-medium .space {
  padding: 0.5vh;
}
.text__title-medium .word {
  display: none;
}
.text__title-medium .letter:hover {
  -webkit-transform: scale(1.2) rotateZ(4deg);
          transform: scale(1.2) rotateZ(4deg);
  padding: 0.1vh;
  line-height: 10.5vh;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.text__title-small {
  height: 7.5vh;
  line-height: 6.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
.text__title-small .letter,
.text__title-small .word {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 4.5vh;
  font-family: "Oswald", sans-serif;
  padding: 0.2vh;
  text-align: end;
}
.text__title-small .space {
  padding: 0.5vh;
}
.text__title-small .word {
  display: none;
}
.text__title-small .letter:hover {
  -webkit-transform: scale(1.2) rotateZ(4deg);
          transform: scale(1.2) rotateZ(4deg);
  padding: 0.1vh;
  line-height: 6.75vh;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.li__text-big {
  font-size: 3vh;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

a {
  outline: none;
  font-weight: 700;
}

a:link {
  text-decoration: none;
}

.button {
  padding: 2.5vh;
  border-radius: 3vh;
}

.skills__card {
  background-color: white;
  border-radius: 10%;
  min-height: 13vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills__card h4 {
  justify-self: flex-end;
  padding-top: 1.5vh;
  padding-bottom: 1vh;
}
.skills__card img {
  padding-top: 1vh;
}

.icon {
  width: 3vw;
}

.tiny-icon {
  height: 4vh;
}

.nav {
  padding: 1vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav #logoAndName {
  width: 45%;
  width: 100%;
}
.nav #logoAndName span {
  padding: 0.9vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.nav ul {
  width: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.nav img {
  height: 3.5vh;
}
.nav .nav__list {
  width: 50%;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav .nav__list .nav__item {
  padding: 0.5vh;
}
.nav .nav__list .nav__item a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav #logoAndName {
    width: 10%;
  }
  .nav #logoAndName span {
    display: none;
  }
}
#about {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
#about h2,
#about .side-text {
  padding-left: 5vw;
  padding-bottom: 2vw;
  width: 30vw;
}
#about #about-description {
  height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#about #about-description .mosaic {
  width: auto;
  padding-left: 2vw;
  padding-right: 5vw;
}
#about #about-description .mosaic .column-1 #circle-one {
  background: red;
}
#about #about-description .mosaic .column-1 #triangle-one {
  border-top: 8vw solid red;
  border-left: 8vw solid transparent;
}
#about #about-description .mosaic .column-1 #triangle-two {
  border-top: 8vw solid red;
  border-left: 8vw solid transparent;
}
#about #about-description .mosaic .column-1 #circumference-outer {
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#about #about-description .mosaic .column-1 #circumference-outer #circumference-inner {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 2px solid black;
}
#about #about-description .mosaic .column-2 {
  width: 16vw;
}
#about #about-description .mosaic .column-2 img {
  height: 16vw;
  border-radius: 0% 50%;
}
#about #about-description .mosaic .column-2 #form-1 {
  border: 2px solid black;
  width: 12vw;
  height: 8vw;
  border-radius: 4vw;
}
#about #about-description .mosaic .column-2 #form-2 {
  border: 2px solid black;
  width: 12vw;
  height: 8vw;
  border-radius: 8vw 8vw 0vw 0vw;
}
#about .skills {
  padding: 5vh;
}
#about .skills .skills__text-container h3,
#about .skills .skills__text-container .side-text {
  padding-left: 5vw;
  padding-bottom: 2vw;
  width: 40vw;
}
#about .skills .skills__card-container {
  padding: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5vh 1fr 1.5vh 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5vh;
}
#about .skills .skills__card-container #git {
  padding: 1vh;
  background-color: white;
  border-radius: 10%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
}
#about .skills .skills__card-container #git span {
  padding: 0.5vw;
}

#about__title::before {
  content: "01 . - ";
  font-size: 2.5vh;
  font-family: "Oswald", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1vh;
}

#skills__title::before {
  content: "01. 1 - ";
  font-size: 2.5vh;
  font-family: "Oswald", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1vh;
}

#contact__title::before {
  content: "04 . - ";
  font-size: 2.5vh;
  font-family: "Oswald", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1vh;
}

.landing {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}
.landing .landing__text__article {
  width: 41vw;
  padding: 5vw;
}
.landing .landing__text__article .text__subtitle {
  padding-bottom: 1.5vh;
}

#experience .li__text-small {
  padding-top: 0.5vw;
  padding-left: 2.5vw;
}

#experience__title::before {
  content: "02 . - ";
  font-size: 2.5vh;
  font-family: "Oswald", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1vh;
}

#work__title::before {
  content: "03 . - ";
  font-size: 2.5vh;
  font-family: "Oswald", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1vh;
}