* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*font-family: 'Oswald', sans-serif;
font-family: 'Quattrocento', serif;*/
* {
  font-family: "Quattrocento", serif;
}

h1 {
  font-size: 7vh;
  font-family: "Oswald", sans-serif;
}

.landing .landing__mosaic, .landing, .nav .nav__list, .nav #logoAndName, .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .landing__mosaic .row-1 #circumference-outer, .landing .landing__mosaic .row-1 #circle-one {
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
}

.landing .landing__mosaic .row-1 #triangle-two, .landing .landing__mosaic .row-1 #triangle-one {
  width: 0;
  height: 0;
}

.icon {
  width: 3vw;
}

.nav {
  padding: 1vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav #logoAndName {
  width: 45%;
  width: 100%;
}
.nav #logoAndName span {
  padding: 0.9vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.nav ul {
  width: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.nav img {
  height: 3.5vh;
}
.nav .nav__list {
  width: 50%;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav .nav__list .nav__item {
  padding: 0.5vh;
}
.nav .nav__list .nav__item a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav #logoAndName {
    width: 10%;
  }
  .nav #logoAndName span {
    display: none;
  }
}
.landing {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}
.landing .landing__text__article {
  width: 50vw;
  padding: 5vw;
}
.landing .landing__mosaic {
  width: 50vw;
}
.landing .landing__mosaic .row-1 #circle-one {
  background: red;
}
.landing .landing__mosaic .row-1 #triangle-one {
  border-top: 8vw solid red;
  border-left: 8vw solid transparent;
}
.landing .landing__mosaic .row-1 #triangle-two {
  border-top: 8vw solid red;
  border-left: 8vw solid transparent;
}
.landing .landing__mosaic .row-1 #circumference-outer {
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.landing .landing__mosaic .row-1 #circumference-outer #circumference-inner {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 2px solid black;
}
.landing .landing__mosaic .row-2 {
  width: 16vw;
}
.landing .landing__mosaic .row-2 img {
  height: 16vw;
  border-radius: 0% 50%;
}
.landing .landing__mosaic .row-2 #form-1 {
  border: 2px solid black;
  width: 12vw;
  height: 8vw;
  border-radius: 4vw;
}
.landing .landing__mosaic .row-2 #form-2 {
  border: 2px solid black;
  width: 12vw;
  height: 8vw;
  border-radius: 8vw 8vw 0vw 0vw;
}

.light__theme {
  color: #1c143e;
}

/*.dark__theme {
}
*/