.d-occult {
  opacity: 0;
}
.fade-in-down {
  animation: fadeInDown 1.3s;
  opacity: 1;
}
.fade-in-up {
  animation: fadeInUp 1.3s;
  opacity: 1;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }

  to {
    opacity: 1;
  }
}
