// Typography
@mixin titleBase($size) {
  height: $size + 3;
  line-height: $size + 2;
  display: flex;
  align-content: center;
  .letter,
  .word {
    box-sizing: border-box;
    font: {
      size: $size;
      family: "Oswald", sans-serif;
    }
    padding: 0.2vh;
    text-align: end;
  }
  .space {
    padding: 0.5vh;
  }
  .word {
    display: none;
  }
  .letter:hover {
    @include scaleLetterAnimation($size);
  }
}
// Grid
@mixin gridBase($columns, $size) {
  display: grid;
  grid-template-columns: repeat($columns, $size);
}

// Animations
@mixin scaleLetterAnimation($lineH) {
  transform: scale(1.2) rotateZ(4deg);
  padding: 0.1vh;
  line-height: $lineH + ($lineH/2);
  transition: transform 0.3s;
}

// Before
@mixin beforeTitles($string) {
  content: $string;
  font: {
    size: 2.5vh;
    family: "Oswald", sans-serif;
  }
  align-self: center;
  padding: 1vh;
}
