//--------------------------- Layouts Flex
%DFlexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%DFlexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%DFlexColStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
}

//--------------------------- Sections layout
%SectionBasicLayout {
  padding: {
    top: 25vh;
    bottom: 25vh;
  }
  width: 100%;
  @extend %DFlexCol;
  align-items: center;
  align-content: center;
  .inner-container {
    width: 55vw;

    padding: {
      top: 3vh;
    }
    ul {
      width: 45vw;
      @extend %DFlexCol;
      padding: {
        top: 3vh;
        left: 5vw;
      }
    }
  }
}

//--------------------------- Css Drawings

%landingCircleDimensions {
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
}
%landingTriangleBase {
  width: 0;
  height: 0;
}
%landingFormsRow2 {
  width: 16vw;
  height: 10vw;
}

//--------------------------- Animations

%scaleLetterAnimation {
  transform: scale(1.4);
  padding: 0.1vh;
  line-height: 10.3vh;
  transition: transform 0.2s;
}
