// Colors

// ------------------------- Light theme
$gradient1: #03557e;
$gradient2: #02b5a3;
$lightBG1: #d6e9e6;
$lightText: #02273a;
$darkerText: #011b27;
$lHoverText: #008584;
$white: #fff;
//---- Mosaicm ,
$circle1: #ffb703;
$circle2: #023047;
$triangle1: #27afad;
$triangle2: #fb8500;

// Dark theme
