// Colors
// Light theme
$light-bg: #f1faee;
$light-bg-second: #a8dadc;
$light-h1: #1d3557;
$light-h2: #457b9d;
$light-text: #1c143e;
$light-text--special: #e63946;
$light-btn-bg: #1d3557;
$light-btn--text: #fff;
