// Colors

// ------------------------- Light theme
$gradient1: rgba(255, 183, 3, 0.8);
$gradient2: rgba(251, 153, 0, 0.8);
$lightBG1: #d6e9e6;
$lightText: #023047;
$lHoverText: #008584;
$white: #fff;
//---- Mosaic
$circle1: #ffb703;
$triangle1: #27afad;
$triangle2: #fb5058;

// Dark theme
