#footer {
  padding: 1vh;
  @extend %DFlexCol;
  justify-content: space-between;
  .horizontal-divider {
    width: 30vw;
    height: 1px;
  }
  span {
    padding: 2vh;
  }
}

@media screen and (max-width: 768px) {
  #footer {
    span {
      display: none;
    }
    .horizontal-divider {
      display: none;
    }
    .button {
      margin: 0vh;
    }
  }
}
