.nav {
  @extend %DFlexRow;
  padding: 1vh;
  justify-content: space-between;
  #logoAndName {
    width: 45%;
    @extend %DFlexRow;
    width: 100%;
    span {
      padding: 0.9vh;
      align-self: center;
    }
  }
  ul {
    width: 30%;
    align-self: center;
  }
  img {
    height: 3.5vh;
  }
  .nav__list {
    @extend %DFlexRow;
    width: 50%;
    list-style: none;
    justify-content: space-between;

    .nav__item {
      padding: 0.5vh;
      a {
        text-decoration: none;
      }
    }
  }
  #menu-icon {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;

    #logoAndName {
      #logo-icon {
        width: 5vh;
        height: auto;
        opacity: 0.9;
      }
      width: 95vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      span {
        display: none;
      }
    }
    #menu-icon {
      display: inline-block;
      height: 4vh;
      padding-right: 2vw;
    }
  }
  #nav-list {
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-start;
    justify-content: space-around;
    .nav__item {
      height: auto;
    }
  }
}
