.nav {
  @extend %DFlexRow;
  padding: 1vh;
  justify-content: space-between;
  #logoAndName {
    width: 45%;
    @extend %DFlexRow;
    width: 100%;
    span {
      padding: 0.9vh;
      align-self: center;
    }
  }
  ul {
    width: 30%;
    align-self: center;
  }
  img {
    height: 3.5vh;
  }
  .nav__list {
    @extend %DFlexRow;
    width: 50%;
    list-style: none;
    justify-content: space-between;

    .nav__item {
      padding: 0.5vh;
      a {
        text-decoration: none;
      }
    }
  }
  #menu-icon {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    z-index: 10;
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    margin-top: 0px;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;

    padding: 0px;
    #logoAndName {
      z-index: 11;
      background-color: #fffffff1;
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1.5vh;
      margin: 0px;
      box-shadow: 2px 2px 5px #02304758;
      span {
        display: none;
      }
      #logo-icon {
        width: 5vh;
        height: auto;
        padding-left: 4vw;
        opacity: 0.9;
      }
    }
    #menu-icon {
      display: inline-block;
      height: 4vh;
      width: 4vh;
      padding-right: 5vw;
    }
  }
  #nav-list {
    width: 50vw;
    height: 100vh;
    margin-right: 0px;
    background-color: #fffffff1;
    box-shadow: 0px 2px 10px #02304758;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-start;
    justify-content: space-around;
    .nav__item {
      height: auto;
      padding: 6vh;
    }
  }
}
