.button {
  padding: 2vh;
  border-radius: 0.2vh;
  border: 0;
  /*box-shadow: 0.3em 0.3em 0 0 #19bc8b, inset 0.3em 0.3em 0 0 #19bc8b;*/
}
.button:hover {
  opacity: 0.85;
}

/*.button:hover {
  animation: hoverButton 1s;
  box-shadow: 0 0 0 0 #19bc8b, inset 6em 3.5em 0 0 #19bc8b;
  a {
    color: #fff;
    font-weight: 700;
  }
}

@keyframes hoverButton {
  from {
    box-shadow: 0.3em 0.3em 0 0 #19bc8b, inset 0.3em 0.3em 0 0 #19bc8b;
  }
  to {
    box-shadow: 0 0 0 0 #19bc8b, inset 6em 3.5em 0 0 #19bc8b;
  }
}
*/
