.skills__card {
  background-color: white;
  border-radius: 1vh;
  min-height: 13vh;
  @extend %DFlexColSPCenter;
  img {
    padding-top: 2vh;
  }
  h4 {
    padding-bottom: 1.5vh;
  }
}
.card-combo-1 {
  @extend %DFlexRow;
  @extend %CardLayout;
}
//TODO Change card mobile version
@media screen and (max-width: 768px) {
  .skills__card {
    min-height: 2vh;
    padding-bottom: 0px;
    padding: 1vh;
    h4 {
      padding: 0px;
    }
  }
  .skills__card__img {
    display: none;
  }
  .card-combo-1 {
    width: 80vw;
    .card__img {
      display: none;
    }
  }
}
.card-combo-2 {
  @extend %DFlexReverseRow;
  @extend %CardLayout;
}
