.skills__card {
  background-color: white;
  border-radius: 1vh;
  min-height: 13vh;
  @extend %DFlexCol;
  justify-content: center;
  h4 {
    justify-self: flex-end;
    padding: {
      top: 1.5vh;
      bottom: 1vh;
    }
  }
  img {
    padding-top: 1vh;
  }
}
.card-combo-1 {
  @extend %DFlexRow;
  @extend %CardLayout;
}
//TODO Change card mobile version
@media screen and (max-width: 768px) {
  .skills__card {
    min-height: 2vh;
    padding: 1vh;
    .skills__card__img {
      display: none;
    }
  }
  .card-combo-1 {
    width: 80vw;
    .card__img {
      display: none;
    }
  }
}
.card-combo-2 {
  @extend %DFlexReverseRow;
  @extend %CardLayout;
}
