//-- Top
.dividers {
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-bottom-1631362363,
.custom-shape-divider-bottom-1631374900 {
  //this
  transform: rotate(180deg);
  svg {
    width: calc(214% + 1.3px);
    transform: translateY(-0.2vh);
    height: 12.2vh;
  }
}
// -- Bottom
.custom-shape-divider-top-1631364215 {
  //this
  svg {
    width: calc(214% + 1.3px);
    height: 12.2vh;
  }
}
