//-- Top-ABOUT
.custom-shape-divider-bottom-1631362363 {
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1631362363 svg {
  width: calc(214% + 1.3px);
  height: 12vh;
}
// Bottom-ABOUT
.custom-shape-divider-top-1631364215 {
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1631364215 svg {
  width: calc(214% + 1.3px);
  height: 79px;
}
#experience-divider-top {
  transform: rotate(180deg) translateY(-20px);
}
