.icon {
  width: 3vw;
}
.tiny-icon {
  height: 3.5vh;
}
.tiny-icon:hover {
  opacity: 0.8;
}
#mongodb-icon {
  width: 2vw;
}
@media screen and (max-width: 768px) {
  .tiny-icon {
    height: 4.5vh;
  }
}
