/*font-family: 'Oswald', sans-serif;
font-family: 'Quattrocento', serif;*/
* {
  font-family: "Quattrocento", serif;
}
h1 {
  font: {
    size: 7vh;
    family: "Oswald", sans-serif;
  }
}
p,
span {
  font-size: 2.3vh;
}

.text__title-medium {
  /* "word class is only for responsive*/
  @include titleBase(7vh);
}

.text__title-small {
  @include titleBase(6vh);
}
