/*font-family: 'Oswald', sans-serif;
font-family: 'Quattrocento', serif;*/
* {
  font-family: "Quattrocento", serif;
}
h1 {
  font: {
    size: 7vh;
    family: "Oswald", sans-serif;
  }
}
.text__title-medium {
  height: 10vh;
  display: flex;
  align-content: flex-end;
}
.letter {
  font: {
    size: 5vh;
    family: "Oswald", sans-serif;
  }
}
.letter:hover {
  font-size: 5.8vh;
}
#about-title::before {
  content: "01 . - ";
  font: {
    size: 2.5vh;
    family: "Oswald", sans-serif;
  }
  align-self: center;
  padding: 1vh;
}
