/*font-family: 'Oswald', sans-serif;
font-family: 'Quattrocento', serif;*/
* {
  font-family: "Quattrocento", serif;
}
h1 {
  font: {
    size: 7vh;
    family: "Oswald", sans-serif;
  }
}

p,
span {
  font-size: 2.1vh;
}
// ------ Cards
.card__description-languajes {
  font-size: 1.7vh;
}
// ------ Titles
.text__title-medium {
  /* "word class is only for responsive*/
  @include titleBase(7vh);
}

.text__title-small {
  @include titleBase(4.5vh);
}
.card__title {
  font: {
    size: 3vh;
    family: "Oswald", sans-serif;
  }
}

// ---------- List
.li__text-big {
  font: {
    size: 3vh;
    family: "Oswald", sans-serif;
  }
  font-weight: 700;
}

// ----------- Links
a {
  outline: none;
  font-weight: 700;
  font-family: "Quattrocento", serif;
}
a:link {
  text-decoration: none;
}
// ----------- Buttons
.button {
  font-size: 2vh;
}
