#about {
  width: 100%;
  @extend %DFlexCol;
  align-items: center;
  align-content: center;
  h2,
  .side-text {
    padding: {
      left: 5vw;
      bottom: 2vw;
    }
    width: 30vw;
  }
  #about-description {
    height: 100vh;
    @extend %DFlexColStart;
    flex-wrap: wrap;
    .mosaic {
      width: auto;
      padding-left: 2vw;
      padding-right: 5vw;
      @extend %DFlexRow;
      .column-1 {
        #circle-one {
          @extend %landingCircleDimensions;
          background: red;
        }
        #triangle-one {
          @extend %landingTriangleBase;
          border-top: 8vw solid red;
          border-left: 8vw solid transparent;
        }
        #triangle-two {
          @extend %landingTriangleBase;
          border-top: 8vw solid red;
          border-left: 8vw solid transparent;
        }
        #circumference-outer {
          @extend %landingCircleDimensions;
          border: 2px solid black;
          display: flex;
          align-items: center;
          justify-content: center;
          #circumference-inner {
            width: 50%;
            height: 50%;
            border-radius: 50%;
            border: 2px solid black;
          }
        }
      }
      .column-2 {
        width: 16vw;
        img {
          height: 16vw;
          border-radius: 0% 50%;
        }
        #form-1 {
          border: 2px solid black;
          width: 12vw;
          height: 8vw;
          border-radius: 4vw;
        }
        #form-2 {
          border: 2px solid black;
          width: 12vw;
          height: 8vw;
          border-radius: 8vw 8vw 0vw 0vw;
        }
      }
    }
  }
  .skills {
    padding: 5vh;
    @extend %DFlexCol;
    .skills__text-container {
      h3,
      .side-text {
        padding: {
          left: 5vw;
          bottom: 2vw;
        }
        width: 40vw;
      }
    }
    .skills__card-container {
      padding: 5vh;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5vh;
      #git {
        padding: 1vh;
        background-color: white;
        border-radius: 10%;
        grid-column-start: 1;
        grid-column-end: 4;
        @extend %DFlexRow;
        span {
          padding: 0.5vw;
        }
      }
    }
  }
}
#about__title::before {
  @include beforeTitles("01 . - ");
}

#skills__title::before {
  @include beforeTitles("01. 1 - ");
}
