#about {
  width: 100%;
  @extend %DFlexCol;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  h2,
  .side-text {
    padding: {
      left: 5vw;
      bottom: 2vw;
    }
    width: 30vw;
  }
  #about-description {
    height: 100vh;
    width: 100%;
    @extend %DFlexColStart;
    flex-wrap: wrap;
    .mosaic {
      width: auto;
      padding-left: 2vw;
      padding-right: 5vw;
      @extend %DFlexRow;
      .column-1 {
        #circle-one {
          width: 8vw;
          height: 8vw;
          fill: $circle1;
        }
        #triangle-one {
          svg {
            width: 9vw;
            height: 8vw;
          }
          path {
            fill: $triangle1;
          }
        }
        #triangle-two {
          svg {
            width: 9vw;
            height: 8vw;
          }
          path {
            fill: $triangle2;
          }
        }
        #circumference-outer {
          width: 9vw;
          height: 9vw;
          display: flex;
          align-items: center;
          justify-content: center;
          #outer-circle {
            fill: $circle2;
          }
          #inner-circle {
            fill: $white;
          }
        }
      }
      .column-2 {
        width: 16vw;
        #me {
          border-radius: 0% 50%;
        }
        #form-1 {
          border: 2px solid black;
          width: 12vw;
          height: 8vw;
          border-radius: 4vw;
        }
        #form-2 {
          border: 2px solid black;
          width: 12vw;
          height: 8vw;
          border-radius: 8vw 8vw 0vw 0vw;
        }
      }
    }
  }
  .skills {
    padding: 5vh;
    @extend %DFlexCol;
    .skills__text-container {
      h3,
      .side-text {
        padding: {
          left: 5vw;
          bottom: 2vw;
        }
        width: 40vw;
      }
    }
    .skills__card-container {
      padding: 5vh;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5vh;
      #git {
        padding: 1vh;
        background-color: white;
        border-radius: 1vh;
        grid-column-start: 1;
        grid-column-end: 4;
        @extend %DFlexRow;
        span {
          padding: 0.5vw;
        }
      }
    }
  }
}
#about__title::before {
  @include beforeTitles("01 . - ");
}

#skills__title::before {
  @include beforeTitles("01. 1 - ");
}
#me {
  width: 12vw;
}

@media screen and (max-width: 768px) {
  #about {
    h2,
    .side-text {
      width: 80vw;
    }
  }
  #about__p-2,
  #about__p-3 {
    display: none;
  }

  #about-description {
    .mosaic {
      width: 100vw;
      .column-1 {
        display: none;
      }
      .column-2 {
        width: 100%;
        #form-1,
        #form-2 {
          display: none;
        }
      }
    }
    #me {
      width: 30vw;
    }
  }
}
