#experience {
  padding: {
    top: 10vh;
    bottom: 10vh;
  }
  width: 100%;
  @extend %DFlexCol;
  align-items: center;
  align-content: center;
  .experience__text-container {
    width: 55vw;

    padding: {
      top: 3vh;
    }
    ul {
      width: 45vw;
      @extend %DFlexCol;
      padding: {
        top: 3vh;
        left: 5vw;
      }
    }
  }
}
.li__text-small {
  padding: {
    top: 0.5vw;
    left: 2.5vw;
  }
}
#experience__title::before {
  @include beforeTitles("02 . - ");
}
