#experience {
  .li__text-small {
    padding: {
      top: 0.5vw;
      left: 2.5vw;
    }
  }
}

#experience__title::before {
  @include beforeTitles("02 . - ");
}

@media screen and (max-width: 768px) {
  #experience {
    ul {
      padding-top: 8vw;
      padding-left: 8vw;
      width: 75vw;
    }
  }
}
