.landing {
  box-sizing: border-box;
  height: 100vh;
  @extend %DFlexRow;
  .landing__text__article {
    width: 41vw;
    padding: 5vw;
    .text__subtitle {
      padding: {
        bottom: 1.5vh;
      }
    }
  }
}
//TODO Change font size
@media screen and (max-width: 768px) {
  .landing {
    width: 100vw;
    .landing__text__article {
      width: 90vw;
    }
  }
}
