#work__title::before {
  @include beforeTitles("03 . - ");
}

#work {
  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .work__description {
      padding: 2vh;
      align-self: flex-start;
    }
  }
}

.cards__container {
  padding: 2vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2vh;
}
