#work__title::before {
  @include beforeTitles("03 . - ");
}

#work {
  .inner-container {
    @extend %DFlexColStart;
    .work__description {
      padding: 2vh;
      align-self: flex-start;
    }
  }
}

.cards__container {
  padding: 2vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2vh;
}

@media screen and (max-width: 768px) {
  .cards__container {
    width: 80vw;
  }
}
