#work__title::before {
  @include beforeTitles("03 . - ");
}
#work__title {
  padding: 0px;
  margin: 0px;
}
#work {
  .inner-container {
    padding-top: 5vh;
    @extend %DFlexColStart;
    .work__description {
      align-self: flex-start;
    }
  }
}

.cards__container {
  padding: 2vh;
  padding-top: 4vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2vh;
}

@media screen and (max-width: 768px) {
  .cards__container {
    width: 80vw;
  }
}
