.light__theme {
  color: $lightText;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 183, 3, 0.8) 0%,
    rgba(251, 133, 0, 0.8) 100%
  );
  //--------------------------------------------- Waves
  .custom-shape-divider-bottom-1631362363 .shape-fill {
    fill: #ffffff;
  }
  .custom-shape-divider-top-1631364215 .shape-fill {
    fill: #ffffff;
  }
  //--------------------------------------------- ABOUT
  #about-description,
  #experience {
    background-color: #ffffff;
  }
  //--------------------------------------------- EXPERIENCE

  //--------------------------------------------- Links
  a {
    color: $lightText;
  }
  a:hover {
    color: $lHoverText;
  }
  button {
    background-color: $lightBG1;
  }
  .card-combo-1,
  .card-combo-2 {
    background-color: $lightText;
    .card__caption {
      color: $lightBG1;
    }
  }
  .horizontal-divider {
    background-color: $lightText;
    opacity: 0.6;
  }
}

/*.dark__theme {
}
*/
