.light__theme {
  color: $lightText;
  background-color: $lightBG1;

  //----- Links
  a {
    color: $lightText;
  }
  a:hover {
    color: $lHoverText;
  }
  button {
    background-color: $lightBG1;
  }
  .card-combo-1,
  .card-combo-2 {
    background-color: $lightText;
    .card__caption {
      color: $lightBG1;
    }
  }
  .horizontal-divider{
    background-color: $lightText;
    opacity: 0.6;
  }
}

/*.dark__theme {
}
*/
