.light__theme {
  color: $lightText;
  background: $white;
  background: radial-gradient(circle, $gradient1 0%, $gradient2 100%);

  //--------------------------------------------- Waves
  .custom-shape-divider-bottom-1631362363 .shape-fill,
  .custom-shape-divider-top-1631364215 .shape-fill,
  .custom-shape-divider-bottom-1631374900 .shape-fill {
    fill: $white;
  }
  //--------------------------------------------- ABOUT
  #about-description,
  #experience__article,
  #contact--article,
  #footer {
    background-color: $white;
  }
  //--------------------------------------------- EXPERIENCE

  //--------------------------------------------- Links
  a {
    color: $lightText;
  }
  a:hover {
    color: $lHoverText;
  }
  button {
    background-color: $lightText;
    p,
    a {
      color: $white;
    }
  }
  .button {
    a:hover {
      color: $white;
    }
  }
  .card-combo-1,
  .card-combo-2 {
    background-color: $white;
    color: $darkerText;
  }
  .horizontal-divider {
    background-color: $lightText;
    opacity: 0.6;
  }
  .light-text {
    color: $darkerText;
  }
}

/*.dark__theme {
}
*/
